<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
	<http auto-config="true">
		<intercept-url pattern="/login" access="ROLE_ADMIN, ROLE_BOR, ROLE_LIB" />
		<intercept-url pattern="/admin/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/bor/*" access="ROLE_BOR" />
		<intercept-url pattern="/lib/*" access="ROLE_LIB" />
	</http>
 
	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="admin" password="123" authorities="ROLE_ADMIN" />
		<user name="bor" password="123" authorities="ROLE_BOR" />
		<user name="lib" password="123" authorities="ROLE_LIB" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>